@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco';
@import 'https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco';
body {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.75em;
  margin: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  @media screen and (max-width: 479px) {
    body {
      font-size: 15px; } }

a {
  color: #333; }
  a::visited {
    color: #333; }
  a:hover {
    color: #ccc; }

.no_anchor {
  text-decoration: none; }

.clickable, .characters .a_list dd ul li {
  color: #007B50;
  text-decoration: underline; }

.button,
.button:visited {
  width: 120px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  color: #f5f5f5;
  border-radius: 5px;
  background: #333; }
  @media screen and (max-width: 479px) {
    .button,
    .button:visited {
      margin: 0 auto; } }
  .button:hover,
  .button:visited:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    color: #333; }

hr {
  width: 60%;
  margin: 15px 40% 15px 0; }
  @media screen and (max-width: 479px) {
    hr {
      width: 100%;
      margin: 20px 0; } }

.hr_100 {
  width: 100%;
  margin: 15px 40% 15px 0; }
  @media screen and (max-width: 479px) {
    .hr_100 {
      margin: 20px 0; } }

.header_box {
  border: none;
  width: 100%;
  overflow: hidden; }

.header_img {
  margin-top: -100px;
  width: 100%;
  opacity: 0.5; }

.header_text {
  color: #f5f5f5;
  font-size: 35px;
  width: 160px;
  margin: 25px auto;
  text-align: center;
  font-family: 'Sue Ellen Francisco', cursive;
  border-bottom: 2px dashed #007B50;
  line-height: 40px; }
  .header_text a {
    color: #f5f5f5;
    text-decoration: none; }
    .header_text a:hover {
      color: #f5f5f5;
      text-decoration: none; }
  @media screen and (max-width: 479px) {
    .header_text {
      font-size: 20px; } }
  .header_text_box {
    position: absolute;
    width: 100%;
    background-color: #333;
    margin: 0 auto;
    height: 100%; }

main ul {
  margin: 0;
  text-align: center; }
  main ul li {
    margin: 0 0 0 -40px;
    width: 100%; }

#gNav {
  width: 100%;
  margin: 0;
  top: 90px;
  position: fixed; }
  #gNav ul {
    list-style: none;
    margin: 0 auto -16px;
    padding: 0;
    text-align: center;
    height: 60px; }
    #gNav ul li {
      display: inline-block;
      width: 23%;
      font-size: 30px;
      font-family: 'Sue Ellen Francisco', cursive;
      color: #f5f5f5;
      padding: 16px 0 8px; }
      @media screen and (max-width: 479px) {
        #gNav ul li {
          font-size: 20px; } }
      #gNav ul li:hover {
        border-bottom: 8px solid  #007B50;
        cursor: pointer; }
      #gNav ul li a {
        text-decoration: none;
        color: #f5f5f5; }

.common_width {
  max-width: 990px;
  margin: 0 auto; }
  @media screen and (max-width: 1480px) {
    .common_width {
      width: 80%; } }
  @media screen and (max-width: 768px) {
    .common_width {
      width: 85%; } }
  @media screen and (max-width: 479px) {
    .common_width {
      width: 85%; } }
  .common_width_100per {
    width: 100%; }
  .common_width_full-screen {
    width: 100vw;
    height: 100vh; }

.common_align-center {
  text-align: center; }

.background_5db696 {
  background-color: #5db696; }

.background_b5c8a6 {
  background-color: #b5c8a6; }

h1 {
  font-weight: bold;
  font-size: 35px;
  padding: .25em 0 .25em .75em;
  border-left: 15px solid #333; }

h2 {
  font-weight: bold;
  font-size: 20px;
  padding: .35em 0 .15em .75em;
  border: 2px solid #333;
  border-left: 25px solid #333;
  width: 150px;
  border-radius: 7px;
  text-align: center;
  padding-right: 1em;
  font-family: 'Sue Ellen Francisco', cursive; }
  @media screen and (max-width: 479px) {
    h2 {
      margin: 0.83em auto;
      width: 75%; } }

/*-----
text
-----*/
.happy_Halloween {
  font-family: 'NBC'; }

.font_large {
  font-size: 30px; }

.font_regular {
  font-size: 20px; }

.bold {
  font-weight: bold; }

.text_left {
  width: 50%;
  padding-right: 50%; }

.text_right {
  width: 50%;
  padding-left: 50%; }

.common_text {
  font-size: 1em;
  padding: 0 0 0 25px; }
  @media screen and (max-width: 479px) {
    .common_text {
      padding: 0;
      width: 95%;
      margin: 0 auto; } }
  .common_text .old {
    margin-bottom: 15px; }
  .common_text ul {
    list-style-position: inside;
    line-height: 2.5; }
    .common_text ul li {
      text-align: left; }

.info {
  padding: 2vw 0;
  position: relative; }
  @media screen and (max-width: 479px) {
    .info {
      padding: 0; } }
  .info_img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0; }
    .info_img img {
      width: 100%; }

body {
  margin: 0;
  padding: 0; }

section {
  height: 300px;
  margin: 100px 10px;
  background-image: url("../img/page/info_mainvidual.png");
  -webkit-background-size: 500px;
  background-size: 500px;
  -webkit-animation: bgscroll 25s linear infinite;
  animation: bgscroll 25s linear infinite; }

@-webkit-keyframes bgscroll {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -500px; } }

@keyframes bgscroll {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -500px; } }

/* FAN ART */
.fan-art {
  /* Shuffle and sort controls */
  /* Search control */ }
  .fan-art * {
    margin: 0 auto;
    padding: 0;
    border: 0;
    color: #7F7A71; }
  .fan-art body {
    width: 100%;
    overflow: hidden; }
  .fan-art_top-box {
    border: none;
    width: 100%;
    height: 310px;
    overflow: hidden; }
  .fan-art .menu {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 30px 0; }
    @media screen and (max-width: 479px) {
      .fan-art .menu {
        padding: 15px 0; } }
    .fan-art .menu_tab {
      display: block; }
      @media screen and (max-width: 479px) {
        .fan-art .menu_tab {
          display: none; } }
    @media screen and (max-width: 479px) {
      .fan-art .menu_func {
        text-align: center; } }
  .fan-art #datatables_wrapper {
    text-align: center; }
  .fan-art .fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 25px 0;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.8); }
    @media screen and (max-width: 479px) {
      .fan-art .fixed {
        width: 93vw;
        padding: 15px;
        left: 0;
        text-align: center; } }
  .fan-art .filtr-item {
    padding: 1rem; }
  .fan-art .item-desc {
    display: none; }
  .fan-art .simplefilter li,
  .fan-art .multifilter li,
  .fan-art .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 121px;
    height: 40px;
    padding: 0.5em;
    margin-bottom: 5px;
    font-family: 'しねきゃぷしょん';
    text-transform: uppercase; }
    @media screen and (max-width: 1480px) {
      .fan-art .simplefilter li,
      .fan-art .multifilter li,
      .fan-art .sortandshuffle li {
        min-width: 12%; } }
    @media screen and (max-width: 1105px) {
      .fan-art .simplefilter li,
      .fan-art .multifilter li,
      .fan-art .sortandshuffle li {
        min-width: 10.8%; } }
    @media screen and (max-width: 479px) {
      .fan-art .simplefilter li,
      .fan-art .multifilter li,
      .fan-art .sortandshuffle li {
        min-width: 92px; } }
  .fan-art .category_01 li {
    display: inline-flex;
    background-color: #585858; }
    .fan-art .category_01 li a {
      margin-left: 0; }
    .fan-art .category_01 li.active {
      background-color: #212121; }
    .fan-art .category_01 li:hover {
      background-color: #212121; }
  .fan-art .category_02 li {
    background-color: #93ba8d; }
    .fan-art .category_02 li.active {
      background-color: #007B50; }
    .fan-art .category_02 li:hover {
      background-color: #007B50; }
  .fan-art .category_03 li {
    background-color: #baaf8d; }
    .fan-art .category_03 li.active {
      background-color: #a98d36; }
    .fan-art .category_03 li:hover {
      background-color: #a98d36; }
  .fan-art .nodata {
    opacity: 0.3; }
  .fan-art select {
    padding: 2px 10px;
    text-transform: uppercase; }
  .fan-art .shuffle_position {
    position: relative; }
  .fan-art .sortandshuffle {
    padding: 45px 0 0; }
    .fan-art .sortandshuffle .shuffle-btn {
      position: relative;
      min-width: 50px;
      background-color: #5d5d5d; }
      .fan-art .sortandshuffle .shuffle-btn img {
        position: absolute;
        top: 22%;
        left: 10px;
        width: 30px; }
      @media screen and (max-width: 479px) {
        .fan-art .sortandshuffle .shuffle-btn {
          position: absolute;
          left: 185px; } }
    .fan-art .sortandshuffle .sort-btn {
      min-width: 50px;
      background-color: #5d5d5d;
      text-align: center;
      text-transform: none;
      position: absolute; }
    .fan-art .sortandshuffle .atoz {
      left: 55px; }
      @media screen and (max-width: 479px) {
        .fan-art .sortandshuffle .atoz {
          position: absolute;
          left: 125px; } }
    .fan-art .sortandshuffle .ztoa {
      left: 110px; }
      @media screen and (max-width: 479px) {
        .fan-art .sortandshuffle .ztoa {
          position: absolute;
          left: 65px; } }
  .fan-art .search-row {
    position: absolute;
    background-color: #fff;
    border: 2.5px solid;
    left: 175px;
    width: 80vw;
    height: 40px; }
    @media screen and (max-width: 479px) {
      .fan-art .search-row {
        left: 0; } }
    .fan-art .search-row img {
      width: 30px;
      position: absolute;
      top: 3px;
      left: 3px; }
  .fan-art .filtr-search {
    height: 36px;
    width: 60vw;
    text-transform: uppercase;
    font-family: 'しねきゃぷしょん';
    left: 50px;
    position: absolute;
    border: none;
    outline: none; }
  @media screen and (max-width: 479px) {
    .fan-art .filtr-container {
      height: 910px !important; } }
  .fan-art .area, .fan-art .area_children {
    display: none; }
  .fan-art .tab, .fan-art .tab_children {
    color: #fff; }
    .fan-art .tab a, .fan-art .tab_children a {
      color: #fff;
      text-decoration: none; }
      .fan-art .tab a:visited, .fan-art .tab_children a:visited {
        color: #fff; }
  .fan-art #datatables {
    display: inline; }
    .fan-art #datatables table, .fan-art #datatables td, .fan-art #datatables tr {
      display: inline-block; }
    .fan-art #datatables .search-word {
      display: none; }
    .fan-art #datatables .fan-art_img {
      width: 245px; }
      @media screen and (max-width: 768px) {
        .fan-art #datatables .fan-art_img {
          width: 195px; } }
      @media screen and (max-width: 479px) {
        .fan-art #datatables .fan-art_img {
          width: 150px; } }
      @media screen and (max-width: 320px) {
        .fan-art #datatables .fan-art_img {
          width: 134px; } }
      .fan-art #datatables .fan-art_img img {
        width: 100%; }
    .fan-art #datatables .filtr-item {
      padding: 0.6rem;
      height: 225px; }
      @media screen and (max-width: 768px) {
        .fan-art #datatables .filtr-item {
          height: 175px; } }
      @media screen and (max-width: 479px) {
        .fan-art #datatables .filtr-item {
          height: 140px;
          padding: 3% !important; } }
      @media screen and (max-width: 320px) {
        .fan-art #datatables .filtr-item {
          height: 125px; } }
  .fan-art .fan-art select {
    padding: 0;
    height: 20px; }
  .fan-art .dataTables_length {
    display: none; }
  .fan-art .dataTables_filter {
    position: fixed;
    top: 170px;
    left: calc((100% - 176px)/2); }
    @media screen and (max-width: 1480px) {
      .fan-art .dataTables_filter {
        top: 180px;
        width: 990px;
        left: calc((100% - 990px)/2);
        text-align: center;
        position: absolute; } }
    @media screen and (max-width: 768px) {
      .fan-art .dataTables_filter {
        top: 162px;
        width: 100%;
        left: 0; } }
    @media screen and (max-width: 479px) {
      .fan-art .dataTables_filter {
        top: 169px;
        width: 85%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    @media screen and (max-width: 320px) {
      .fan-art .dataTables_filter {
        width: 53%; } }
  .fan-art .dataTables_info {
    display: none; }
  .fan-art .dataTables .table-box {
    position: relative;
    padding-bottom: 70px; }
    .fan-art .dataTables .table-box 　　.dataTables_paginate {
      position: fixed;
      left: 0;
      top: 400px; }
      @media screen and (max-width: 479px) {
        .fan-art .dataTables .table-box 　　.dataTables_paginate {
          position: static;
          top: 92.5%;
          width: 100%;
          text-align: center; } }
  .fan-art .paging_simple_numbers {
    text-align: center;
    padding-bottom: 15px; }
  .fan-art .paginate_button {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none; }
  .fan-art .ellipsis {
    cursor: default; }
  .fan-art .current {
    font-weight: bold;
    color: #007B50; }
  .fan-art .sorting_asc,
  .fan-art .sorting {
    display: none; }
  .fan-art #search_img {
    height: 20px;
    border: solid; }
  .fan-art .search_icon {
    width: 25px;
    vertical-align: middle; }
    @media screen and (max-width: 479px) {
      .fan-art .search_icon {
        width: 18px; } }
  .fan-art .search_tab {
    margin-top: 70px; }
    @media screen and (max-width: 768px) {
      .fan-art .search_tab {
        display: none; } }
  .fan-art .tips,
  .fan-art .tips_sp {
    overflow: hidden;
    -webkit-animation: animation-tips 1s cubic-bezier(0, 1.29, 1, 1);
    animation: animation-tips 1s cubic-bezier(0, 1.29, 1, 1);
    right: 0; }

@keyframes animation-tips {
  from {
    -ms-transform: translateX(1130px);
    -webkit-transform: translateX(1130px);
    transform: translateX(1130px); }
  to {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
    .fan-art .tips img,
    .fan-art .tips_sp img {
      width: 100%; }
  .fan-art .tips {
    width: 18%;
    position: fixed;
    bottom: 10px; }
    @media screen and (max-width: 768px) {
      .fan-art .tips {
        right: -13px; } }
    @media screen and (max-width: 479px) {
      .fan-art .tips {
        display: none; } }
  .fan-art .tips_sp {
    display: none; }
    @media screen and (max-width: 479px) {
      .fan-art .tips_sp {
        display: block;
        width: 25%;
        top: 0;
        position: absolute; } }
  .fan-art .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none; }
  .fan-art .overLay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10; }
  .fan-art .modal .inner {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 30%; }
    @media screen and (max-width: 768px) {
      .fan-art .modal .inner {
        width: 60%; } }
    .fan-art .modal .inner ul {
      display: inline-block;
      margin-right: 20px;
      margin-top: 20px;
      vertical-align: top;
      list-style-type: square;
      list-style-position: inside; }
      .fan-art .modal .inner ul .list_title {
        list-style-type: none;
        font-weight: bold; }
      .fan-art .modal .inner ul .list_last {
        text-align: left; }
    .fan-art .modal .inner p {
      padding: 10px; }

@keyframes modal {
  0% {
    top: -100%; }
  100% {
    top: 50%; } }

@keyframes modalClose {
  0% {
    top: 50%; }
  100% {
    top: 100%; } }
  .fan-art .modalClose {
    padding: 80px 10px; }

.memo {
  width: 100%; }
  .memo .soon {
    width: 100%;
    margin: 50px auto 0;
    font-weight: bolder; }
    @media screen and (max-width: 1105px) {
      .memo .soon {
        text-align: center;
        margin: 30px auto 0; } }
  .memo .soon_img {
    overflow: hidden;
    width: 50%;
    position: absolute;
    bottom: 10px;
    right: 20%; }
    @media screen and (max-width: 1105px) {
      .memo .soon_img {
        width: 80%;
        right: 10px; } }
    @media screen and (max-width: 768px) {
      .memo .soon_img {
        width: 100%; } }
    .memo .soon_img img {
      width: 100%; }

@font-face {
  font-family: NBC;
  src: url("../font/Nightmare_Before_Christmas/Burton_s_nigthmare2000.ttf") format("truetype"); }

@font-face {
  font-family: Norse;
  src: url("../font/Norse/Norse.otf") format("opentype");
  src: url("../font/Norse/NorseBold.otf") format("opentype"); }

@font-face {
  font-family: DN;
  src: url("../font/DEATH_NOTE/DEATHNOTEFont.ttf") format("truetype"); }

@font-face {
  font-family: AVE_1;
  src: url("../font/AVENGERS/AVENGEANCE HEROIC AVENGER BD.otf") format("opentype"); }

.top {
  padding: 2vw 0;
  position: relative; }
  @media screen and (max-width: 479px) {
    .top {
      padding: 0; } }
  .top_img {
    width: 40%;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0; }
    @media screen and (max-width: 768px) {
      .top_img {
        bottom: 50px; } }
    @media screen and (max-width: 479px) {
      .top_img {
        bottom: -120px;
        width: 45%; } }
    .top_img img {
      width: 100%; }

.update {
  padding: 2vw 0; }
  .update label,
  .update .dataTables_info {
    display: none; }
  .update .dataTables_paginate {
    width: 100%;
    text-align: center; }
  .update table {
    text-align: left;
    width: 100%; }
  .update .date {
    display: inline-block;
    margin-top: 25px;
    margin-right: 1em; }
    @media screen and (max-width: 768px) {
      .update .date {
        margin-top: 15px; } }
  .update .title {
    display: inline-block;
    font-weight: bold;
    color: #007B50;
    margin-top: 25px; }
    @media screen and (max-width: 768px) {
      .update .title {
        margin-top: 15px;
        display: block;
        margin-left: 1em; } }
    @media screen and (max-width: 479px) {
      .update .title {
        margin: 0; } }
  .update .description {
    display: block;
    text-align: left;
    margin-left: 2em;
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .update .description {
        margin-bottom: 15px; } }
    @media screen and (max-width: 479px) {
      .update .description {
        margin-left: 0;
        width: 100%; }
        .update .description p {
          margin: 5px 0; } }
  @media screen and (max-width: 479px) {
    .update td {
      padding: 0; } }
  .update .current {
    font-weight: bold;
    color: #007B50; }
  .update .paginate_button {
    padding: 5px; }
  .update .img_sample {
    width: 100%;
    filter: blur(0.7px); }
    .update .img_sample img {
      width: 60px; }
      @media screen and (max-width: 768px) {
        .update .img_sample img {
          width: 35px; } }
      @media screen and (max-width: 479px) {
        .update .img_sample img {
          width: 45px; } }

.arrow {
  display: inline-block;
  padding-left: 20px;
  width: 100%; }
  .arrow::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 0px;
    border-top: solid 3px #f8f9f9;
    border-right: solid 3px #f8f9f9;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    bottom: 13%;
    left: 50%; }
  .arrow_top {
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    display: none; }
    .arrow_top::before {
      content: '';
      width: 30px;
      height: 30px;
      border: 0px;
      border-top: solid 3px #f8f9f9;
      border-right: solid 3px #f8f9f9;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: fixed;
      bottom: 5%;
      right: 5%; }

body {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.75em;
  margin: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  @media screen and (max-width: 479px) {
    body {
      font-size: 15px; } }

a {
  color: #333; }
  a::visited {
    color: #333; }
  a:hover {
    color: #ccc; }

.no_anchor {
  text-decoration: none; }

.clickable, .characters .a_list dd ul li {
  color: #007B50;
  text-decoration: underline; }

.button,
.button:visited {
  width: 120px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  color: #f5f5f5;
  border-radius: 5px;
  background: #333; }
  @media screen and (max-width: 479px) {
    .button,
    .button:visited {
      margin: 0 auto; } }
  .button:hover,
  .button:visited:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    color: #333; }

hr {
  width: 60%;
  margin: 15px 40% 15px 0; }
  @media screen and (max-width: 479px) {
    hr {
      width: 100%;
      margin: 20px 0; } }

.hr_100 {
  width: 100%;
  margin: 15px 40% 15px 0; }
  @media screen and (max-width: 479px) {
    .hr_100 {
      margin: 20px 0; } }

.header_box {
  border: none;
  width: 100%;
  overflow: hidden; }

.header_img {
  margin-top: -100px;
  width: 100%;
  opacity: 0.5; }

.header_text {
  color: #f5f5f5;
  font-size: 35px;
  width: 160px;
  margin: 25px auto;
  text-align: center;
  font-family: 'Sue Ellen Francisco', cursive;
  border-bottom: 2px dashed #007B50;
  line-height: 40px; }
  .header_text a {
    color: #f5f5f5;
    text-decoration: none; }
    .header_text a:hover {
      color: #f5f5f5;
      text-decoration: none; }
  @media screen and (max-width: 479px) {
    .header_text {
      font-size: 20px; } }
  .header_text_box {
    position: absolute;
    width: 100%;
    background-color: #333;
    margin: 0 auto;
    height: 100%; }

main ul {
  margin: 0;
  text-align: center; }
  main ul li {
    margin: 0 0 0 -40px;
    width: 100%; }

#gNav {
  width: 100%;
  margin: 0;
  top: 90px;
  position: fixed; }
  #gNav ul {
    list-style: none;
    margin: 0 auto -16px;
    padding: 0;
    text-align: center;
    height: 60px; }
    #gNav ul li {
      display: inline-block;
      width: 23%;
      font-size: 30px;
      font-family: 'Sue Ellen Francisco', cursive;
      color: #f5f5f5;
      padding: 16px 0 8px; }
      @media screen and (max-width: 479px) {
        #gNav ul li {
          font-size: 20px; } }
      #gNav ul li:hover {
        border-bottom: 8px solid  #007B50;
        cursor: pointer; }
      #gNav ul li a {
        text-decoration: none;
        color: #f5f5f5; }

.common_width {
  max-width: 990px;
  margin: 0 auto; }
  @media screen and (max-width: 1480px) {
    .common_width {
      width: 80%; } }
  @media screen and (max-width: 768px) {
    .common_width {
      width: 85%; } }
  @media screen and (max-width: 479px) {
    .common_width {
      width: 85%; } }
  .common_width_100per {
    width: 100%; }
  .common_width_full-screen {
    width: 100vw;
    height: 100vh; }

.common_align-center {
  text-align: center; }

.background_5db696 {
  background-color: #5db696; }

.background_b5c8a6 {
  background-color: #b5c8a6; }

h1 {
  font-weight: bold;
  font-size: 35px;
  padding: .25em 0 .25em .75em;
  border-left: 15px solid #333; }

h2 {
  font-weight: bold;
  font-size: 20px;
  padding: .35em 0 .15em .75em;
  border: 2px solid #333;
  border-left: 25px solid #333;
  width: 150px;
  border-radius: 7px;
  text-align: center;
  padding-right: 1em;
  font-family: 'Sue Ellen Francisco', cursive; }
  @media screen and (max-width: 479px) {
    h2 {
      margin: 0.83em auto;
      width: 75%; } }

/*-----
text
-----*/
.happy_Halloween {
  font-family: 'NBC'; }

.font_large {
  font-size: 30px; }

.font_regular {
  font-size: 20px; }

.bold {
  font-weight: bold; }

.text_left {
  width: 50%;
  padding-right: 50%; }

.text_right {
  width: 50%;
  padding-left: 50%; }

.common_text {
  font-size: 1em;
  padding: 0 0 0 25px; }
  @media screen and (max-width: 479px) {
    .common_text {
      padding: 0;
      width: 95%;
      margin: 0 auto; } }
  .common_text .old {
    margin-bottom: 15px; }
  .common_text ul {
    list-style-position: inside;
    line-height: 2.5; }
    .common_text ul li {
      text-align: left; }

.characters h1 {
  font-family: 'Walter Turncoat', cursive;
  padding: 0.25em 0;
  margin: 0;
  border: none; }

.characters .table_c_name {
  display: block !important;
  color: #333; }

.characters .soon {
  display: none !important; }

.characters .related_img {
  width: 45%;
  display: inline-block; }
  .characters .related_img li {
    vertical-align: middle; }
    .characters .related_img li img {
      min-width: 100%; }

.characters .main_box {
  width: 100%;
  margin: 0 auto; }

.characters .main_visual {
  width: 45%;
  display: inline-block;
  vertical-align: middle; }
  .characters .main_visual img {
    width: 100%; }

.characters .main_description {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 6%;
  height: 445px;
  overflow: auto;
  cursor: default; }
  .characters .main_description .height,
  .characters .main_description .weight,
  .characters .main_description .actor {
    font-weight: bold; }
  .characters .main_description .height:before {
    content: "Height : ";
    font-weight: normal; }
  .characters .main_description .height:after {
    content: "㎝"; }
  .characters .main_description .weight:before {
    content: "Weight : ";
    font-weight: normal; }
  .characters .main_description .weight:after {
    content: "㎏"; }
  .characters .main_description .actor:before {
    content: "Played by : ";
    font-weight: normal; }

.characters .bx-wrapper img {
  width: 100%;
  display: block;
  margin: 0 auto; }

.characters .bx-viewport {
  height: 100% !important; }

.characters .list_thumb {
  width: 60px;
  margin-right: 10px;
  margin-bottom: 6px;
  display: inline-block; }
  .characters .list_thumb_box {
    width: 100%; }
    .characters .list_thumb_box_50p {
      width: 100%;
      padding-top: 20px;
      vertical-align: top;
      display: inline-block; }

.characters .a_list dt {
  display: block;
  cursor: pointer; }

.characters .a_list dd {
  display: block; }
  .characters .a_list dd ul {
    margin: 0;
    padding: 0;
    cursor: pointer; }
    .characters .a_list dd ul li {
      list-style: square;
      cursor: pointer; }
    .characters .a_list dd ul .nodata {
      cursor: default;
      color: #333;
      text-decoration: none; }

.characters .test {
  width: 10px; }

.characters .ca_none {
  display: none; }

.characters .ca1-i {
  display: inline-block; }

.characters .bx-controls-auto,
.characters .bx-prev,
.characters .bx-next {
  display: none; }
