@charset "UTF-8";
.top {
  padding: 2vw 0;
  position: relative; }
  @media screen and (max-width: 479px) {
    .top {
      padding: 0; } }
  .top_img {
    width: 40%;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0; }
    @media screen and (max-width: 768px) {
      .top_img {
        bottom: 50px; } }
    @media screen and (max-width: 479px) {
      .top_img {
        bottom: -120px;
        width: 45%; } }
    .top_img img {
      width: 100%; }

.update {
  padding: 2vw 0; }
  .update label,
  .update .dataTables_info {
    display: none; }
  .update .dataTables_paginate {
    width: 100%;
    text-align: center; }
  .update table {
    text-align: left;
    width: 100%; }
  .update .date {
    display: inline-block;
    margin-top: 25px;
    margin-right: 1em; }
    @media screen and (max-width: 479px) {
      .update .date {
        margin-top: 15px; } }
  .update .title {
    display: inline-block;
    font-weight: bold;
    color: #007B50;
    margin-top: 25px; }
    @media screen and (max-width: 479px) {
      .update .title {
        margin-top: 15px;
        display: block;
        margin: 0; } }
  .update .description {
    display: block;
    text-align: left;
    margin: 10px 0 50px 2em; }
    .update .description p {
      margin: 0.5em 0; }
    @media screen and (max-width: 768px) {
      .update .description {
        margin-bottom: 15px; } }
    @media screen and (max-width: 479px) {
      .update .description {
        margin-left: 0;
        width: 100%; }
        .update .description p {
          margin: 5px 0; } }
  @media screen and (max-width: 479px) {
    .update td {
      padding: 0; } }
  .update .current {
    font-weight: bold;
    color: #007B50; }
  .update .paginate_button {
    padding: 5px; }
  .update .img_sample {
    width: 100%;
    filter: blur(0.7px); }
    @media screen and (max-width: 479px) {
      .update .img_sample {
        text-align: center; } }
    .update .img_sample img {
      width: calc(70% / 10); }
      @media screen and (max-width: 1105px) {
        .update .img_sample img {
          width: calc(60% / 10); } }
      @media screen and (max-width: 768px) {
        .update .img_sample img {
          width: calc(70% / 10); } }
      @media screen and (max-width: 479px) {
        .update .img_sample img {
          width: calc(80% / 5); } }
  .update ul {
    list-style-position: inside;
    text-align: left;
    margin: 0 0 20px; }
  .update li {
    list-style: outside;
    list-style-type: square;
    margin: 0 0 10px 0; }
    @media screen and (max-width: 479px) {
      .update li {
        margin-bottom: 20px; } }
  .update .column p {
    margin: 0 0 10px; }
  .update .tab_name {
    list-style: none;
    margin: 0 0 0 -1.5em; }
  .update .desc_wrap {
    margin-left: 1.5em; }
    @media screen and (max-width: 479px) {
      .update .desc_wrap {
        margin-left: 0; }
        .update .desc_wrap p {
          margin-left: .7em; } }
    @media screen and (max-width: 479px) and (max-width: 320px) {
      .update .desc_wrap p {
        margin-left: .2em; } }
  .update .article_title {
    margin-left: -1em;
    list-style: none;
    font-weight: bold; }
    @media screen and (max-width: 479px) {
      .update .article_title {
        margin: 0 0 .7em -.5em; } }
    .update .article_title:before {
      content: '【'; }
    .update .article_title:after {
      content: '】'; }

.arrow {
  display: inline-block;
  padding-left: 20px;
  width: 100%; }
  .arrow::before {
    content: '';
    width: 30px;
    height: 30px;
    border: 0px;
    border-top: solid 3px #f8f9f9;
    border-right: solid 3px #f8f9f9;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    bottom: 13%;
    left: 50%; }
  .arrow_top {
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    display: none; }
    .arrow_top::before {
      content: '';
      width: 30px;
      height: 30px;
      border: 0px;
      border-top: solid 3px #f8f9f9;
      border-right: solid 3px #f8f9f9;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: fixed;
      bottom: 5%;
      right: 5%; }
