@import 'mixin';
@import 'common';



/*------------------------------
            index
------------------------------*/
.characters {
  padding: 2vw 0;

  h1 {
    font-family: 'Walter Turncoat', cursive;
    padding: 0.25em 0 1em;
    margin: 0;
    border: none;
  }





  dt {
    margin-top: 20px;
  }

  .title_note {
    font-size: 85%;
  }

  .table-box_list {
    .fan-art_img {
      width: 164px !important;
      @include max-screen($breakpoint-tablet) {
        width: 100% !important;
      }
    }
    .fan-art .filtr-item {
      height: 145px !important;
    }
    tr {
      position: relative;
      overflow: hidden;
      margin: 3px;
      @include max-screen($breakpoint-tablet) {
        width: 30%;
      }
    }
    .filtr-item{
      height: auto !important;
    }
    .table_c_name {
      display: block !important;
      position: absolute;
      bottom: -60px;
      left: 0;
      width: 100%;
      height: 60px;
      color: #f5f5f5;
      background: rgba(0,0,0,.6);
      -webkit-transition: .3s;
      transition: .3s;
      font-family: 'Walter Turncoat', cursive;
      @include max-screen($breakpoint-tablet) {
        bottom: 0px;
        font-size: 14px;
        height: 30px;
        background: rgba(0,0,0,.4);
      }
    }
    .dwa {
      &_e {
        background: rgba(121,57,171,.7) !important;
      }
      &_t {
        background: rgba(171,57,57,.7) !important;
      }
      &_f {
        background: rgba(57,81,171,.7) !important;
      }
      &_a {
        background: rgba(164,171,57,.7) !important;
      }
      &_p {
        background: rgba(57,171,66,.7) !important;
      }
    }
    tr:hover {
      .table_c_name {
        bottom: 0;
        height: 30px;
      }
    }
  }
  .simplefilter {
    li {
      width: calc(92% / 4);
      @include max-screen($breakpoint-pc_tablet) {
        width: calc(90% / 4);
        min-width: 12%;
      }
      @include max-screen($breakpoint-tablet_big) {
        width: calc(85% / 4);
        min-width: 10.8%;
      }
      @include max-screen($breakpoint-mobile) {
        min-width: 92px;
      }
    }
  }





//------------------------------------//
//                wiki                //
//------------------------------------//
  .dic {

  // common
    h1 {
      font-family: 'Walter Turncoat', cursive;
      padding: 0 0 2vw 0;
      margin: 0;
      border: none;
      @include max-screen($breakpoint-mobile) {
        padding: 10px 0;
      }
    }

    dl {
      margin-top: 0;
    }

    .active {
      &_title {
        font-weight: bold;
        color: #007B50;
      }
      &_img {
        display: block;
      }
    }

    [id^=sec] {
      position: relative;
      left: 0;
    }

    [class^=txt-title_] {
      display: none;
      &:first-child {
        display: block;
      }
    }
    [class^=img-title_] {
      display: none;
      &:first-child {
        display: block;
      }
    }
    [class^=img-cos_] {
      display: none;
      &:first-child {
        display: block;
      }
    }



  //title

  .title_note {
    display: none;
  }

    // sec1
    #sec1 {
       @include max-screen($breakpoint-tablet_big) {
         width: 50%;
         max-height: 335px;
        overflow: auto;
       }
       @include max-screen($breakpoint-tablet) {
         width: 100%;
         height: auto;
         max-height: 100%;
       }

      .media_weap {
        width: 100%;
        margin: 0 auto;
        height: auto;
      }


      .main {
        &_box {
          width: 100%;
          margin: 0 auto;
          height: auto;
        }
        &_description {
          display: inline-block;
          vertical-align: top;
          height: 100%;
          overflow: auto;
          cursor: default;
          @include max-screen($breakpoint-tablet_big) {
            height: 36vw;
          }
          @include max-screen($breakpoint-tablet) {
            width: 100%;
            overflow: visible;
            padding: 0;
            height: 100%;
          }
        }
        &_visual {
          width: 46%;
          display: inline-block;
          vertical-align: top;
          @include max-screen($breakpoint-tablet) {
            width: 90%;
            left: 5%
          }
          @include max-screen($breakpoint-mobile) {
            width: 100%;
            left: 0;
          }
          img {
            width: 100%;
          }
        }
      }
    }

    //secc2 - img
    #sec2 {
      position: absolute;
      width: 50%;
      left: 50%;
      top: 240px;
      @include max-screen($breakpoint-tablet_big) {
        width: 40%;
        left: 53%;
        top: 220px;
      }
      @include max-screen($breakpoint-tablet) {
        position: relative;
        left: 0;
        top: auto;
        width: 100%;
      }
      .active_cos {
        display: inline-block;
      }
      .img_wrap {
        position: relative;
        overflow: hidden;
        width: 500px;
        height: 500px;
        @include max-screen($breakpoint-tablet_big) {
          height: 85vw;
          width: 100%;
        }
        @include max-screen($breakpoint-tablet) {
          height: 85vw;
          max-width: 500px;
          max-height: 500px;
        }
        img {
          position: absolute;
          top: 0;
          width: 100%;
        }
        
        [class^=ca] {
          width: 100%;
          height: 100%;
        }
      }
    }


    //sec3 - costume thumb
    #sec3 {
      width: 100%;
      @include max-screen($breakpoint-tablet_big) {
        width: 100%;
        left: 0;
        top: 10px;
      }
      @include max-screen($breakpoint-tablet) {
        left: 0;
        top: 10px;
        width: 100%;
      }
      @include max-screen($breakpoint-tablet) {
        position: relative;
        left: 0;
        top: auto;
        width: 100%;
      }
      [class^=img-title_] {
        display: none;
        &:first-child {
          display: block;
        }
      }

      .active_img {
        display: inline-block;
      }


      [class^=cos_] {
        opacity: .5;
        img {
          border-radius: 12px;
        }
      }
      .now {
        opacity: 1;
      }

      //only one img
      .only {
        pointer-events : none;
        cursor: pointer;
      }

    }

    //sec4 - related img
    #sec4 {
      width: 50%;
      @include max-screen($breakpoint-tablet) {
        width: 100%;
      }
      [class^=img-title_] {
        img {
          border-radius: 12px;
        }
      }
    }


    // sec5 - profile

    dd div div {
      font-weight: bold;
    }
    .height {
      &:before {
        content: "Height : ";
        font-weight: normal;
      }
      &:after {
        content: "㎝";
      }
      &_nodata {
        &:before {
          @extend .height:before;
        }
        &:after {
          content: ""
        }
      }
    }
    .actor:before {
      content: "Played by : ";
      font-weight: normal;
    }
    .cv:after {
      content: " (voice)";
      font-weight: normal;
    }
  }






  //dic
  .related {
    &_img {
      display: inline-block;
      li {
        vertical-align: middle;
        img {
          min-width: 100%;
        }
      }
    }
    .none_cos {
      display: none;
    }
    a {
      text-decoration: none;
    }
  }



.bx-wrapper img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}
.bx-viewport {
      height: 100% !important;
}

  .list_thumb {
    &_box {
      width: 100%;
      @include max-screen($breakpoint-mobile) {
        text-align: left;
      }
      &_50p{
        width: 100%;
        padding-top: 20px;
        vertical-align: top;
        display: inline-block;
      }
    }
    width: 60px;
    margin-right: 6px;
    margin-bottom: 6px;
    display: inline-block;
    @include max-screen($breakpoint-mobile) {
      margin: 0;
    }
  }

  .a_list {
    dt {
      display:block;
      cursor:pointer;
      font-weight: bold;
      line-height: 2em;
      @include max-screen($breakpoint-mobile) {
        line-height: 3em;
      }
    }
    dd{
      display: block;
      @include max-screen($breakpoint-mobile) {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        cursor: pointer;
        li{
          list-style: square;
          cursor: pointer;
          line-height: 2em;
          @include max-screen($breakpoint-mobile) {
            line-height: 3em;
          }
        }
        .nodata {
          cursor: default;
          color: #333;
          text-decoration: none;
        }
      }
    }
    .sp_show {
      display: block;
    }
  }

  .test {
    width: 10px;
  }

  .none_ca {
      display: none;
  }

  .ca1-i {
    display: inline-block;
  }

  .bx-controls-auto,
  .bx-prev,
  .bx-next {
    display: none;
  }

  // .active-img {
  
  // }


// 最新



}