@import 'mixin';
@import 'https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco';

body {
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.75em;
  margin: 0;
  overflow-y: scroll;
  // font-family: 'Noto Sans', sans-serif;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  @include max-screen($breakpoint-mobile) {
    font-size: 15px;
  }
}

//link
a {
  color: #333;
  &:visited {
    color: #333;
  }
  &:hover {
    color: #ccc;
  }
}

.no_anchor {
  text-decoration: none;
}

//button
.button,
.button:visited {
  @include button;
  background: #333;
}

//hr
hr {
  width: 60%;
  margin: 15px 40% 15px 0;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin: 20px 0;
  }
}
.hr {
  &_100 {
    width: 100%;
    margin: 15px 40% 15px 0;
    @include max-screen($breakpoint-mobile) {
      margin: 20px 0;
    }
  }
}

//sp only
.sp_only {
  display: none;
  @include max-screen($breakpoint-mobile) {
    display: block;
  }
}

//header
.header {
  &_box {
    border: none;
    width: 100%;
    overflow: hidden;
  }
  &_img {
    margin-top: -100px;
    width: 100%;
    opacity: 0.5;
  }
  &_text {
    color: #f5f5f5;
    font-size: 35px;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    font-family: 'Sue Ellen Francisco', cursive;
    border-bottom: 2px dashed #007B50;
    line-height: 40px;
    a {
      color: #f5f5f5;
      text-decoration: none;
      &:hover {
        color: #f5f5f5;
        text-decoration: none;
      }
    }
    @include max-screen($breakpoint-mobile) {
      font-size: 20px;
    }
    &_box {
      position: absolute;
      width: 100%;
      background-color: #333;
      margin: 0 auto;
      height: 100%;
    }
  }
}

main {
  ul {
      margin: 0;
      text-align: center;
      li {
        margin: 0 0 0 -40px;
        width: 100%;
      }
    }
  }


#gNav {
  width: 100%;
  // background-color: #007B50;
  // background-color: #007B50;
  margin: 0;
  top: 90px;
  position: fixed;
  ul {
    list-style: none;
    margin: 0 auto -16px;
    padding: 0;
    text-align: center;
    height: 60px;
    li {
      display: inline-block;
      width: 23%;
      font-size: 30px;
      font-family: 'Sue Ellen Francisco', cursive;
      // font-family: 'DN';
      color: #f5f5f5;
      padding: 16px 0 8px;
      @include max-screen($breakpoint-mobile) {
        font-size: 20px;
      }
      &:hover {
        border-bottom: 8px solid  #007B50;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: #f5f5f5;
      }
    }
  }
}


//width
.common_width {
  max-width: 990px;
  margin: 0 auto;

  @include max-screen($breakpoint-pc_tablet) {
    width: 80%;
  }
  @include max-screen($breakpoint-tablet) {
    width: 85%;
  }
  @include max-screen($breakpoint-mobile) {
    width: 85%;
  }

  &_100per {
    width: 100%;
  }

  &_full-screen {
    width: 100vw;
    height: 100vh;
  }
}

.common_align {
  &-center {
    text-align: center;
  }
}

// background color
.background {
  &_5db696 {
    background-color:  #5db696;
  }
  &_b5c8a6 {
    background-color: #b5c8a6;
  }
}

//margin
.margin {
  &_0 {
    margin: 0;
    &_i {
      margin: 0 !important;
    }
  }
}

.margin_t {
  &_0_i {
    margin-top: 0px !important;
  }
  &_5_i {
    margin-top: 5px !important;
  }
  &_10_i {
    margin-top: 10px !important;
  }
  &_20_i {
    margin-top: 20px !important;
  }
}


//Heading
h1 {
  font-weight: bold;
  font-size: 35px;
  padding: .25em 0 .25em .75em;
  border-left: 15px solid #333; 
}
h2 {
  font-weight: bold;
  font-size: 20px;
  padding: .35em 0 .15em .75em;
  border: 2px solid #333;
  border-left: 25px solid #333;
  width: 150px;
  border-radius: 7px;
  text-align: center;
  padding-right: 1em;
  font-family: 'Sue Ellen Francisco', cursive;
  @include max-screen($breakpoint-mobile) {
    margin: 0.83em auto;
    width: 75%;
  }
}

/*-----
text
-----*/
//font-family
.happy_Halloween {
  font-family: 'NBC';
}
//font-size
.font {
  &_large {
    font-size: 30px;
    &_p{
      font-size: 120%;
    }
  }
  &_regular {
    font-size: 20px;
  }
}

//bold
.bold {
  font-weight: bold;
}

//text-position
.text {
  &_left{
    width: 50%;
    padding-right: 50%;
  }

  &_right{
    width: 50%;
    padding-left: 50%;
  }
}

//common_text
.common_text {
  font-size: 1em;
  padding: 0 0 0 25px;
  @include max-screen($breakpoint-mobile) {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }
  .old {
    margin-bottom: 15px;
  }
  ul {
    list-style-position: inside;
    line-height: 2.5;
    li {
      text-align: left;
    }
  }
}

//------------------------------------//
//                tips                //
//------------------------------------//
.tips,
.tips_sp {
  overflow: hidden;
  -webkit-animation:animation-tips 1s cubic-bezier(0, 1.29, 1, 1);
  animation:animation-tips 1s cubic-bezier(0, 1.29, 1, 1);
  @keyframes animation-tips {
    from {
      -ms-transform:translateX(1130px);
      -webkit-transform:translateX(1130px);
      transform:translateX(1130px);
    }
    to {
      -ms-transform:translateX(0);
      -webkit-transform:translateX(0);
      transform:translateX(0);
    }
  }
  right: 0;
  img {
    width: 100%;
  }
}
.tips {
  width: 18%;
  position: fixed;
  bottom: 10px;
  @include max-screen($breakpoint-tablet) {
    display: none;
  }
}
.tips_sp {
  display: none;
  @include max-screen($breakpoint-tablet) {
    display: block;
    width: 15%;
    top: 0;
    position: absolute;
  }
  @include max-screen($breakpoint-mobile) {
    width: 25%;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

.overLay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(200,200,200,0.9);
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.modal [class^='inner'] {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 20px;
  width: 30%;
  @include max-screen($breakpoint-tablet) {
    width: 60%;
  }
  ul {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: top;
    list-style-type: square;
    list-style-position: inside;
    .list{
      &_title {
      list-style-type: none;
      font-weight: bold;
      }
      &_last {
        text-align: left;
      }
    }
  }
  p {
    padding: 10px;
  }
}
@keyframes modal{
  0% {top:-100%}
  100% {top:50%}
}
@keyframes modalClose {
  0% {top:50%}
  100% {top:100%}
} 
.modalClose {
  padding: 80px 10px;
}

//new
.new {
  background-color: #333;
  color: #5db696;
  content: 'new';
}

//list
.list {
  &_kome {
    li {
      list-style:none !important;
      &:before {
        content:"※";
      }
    }
    &_small {
      li {
        font-size: 80%;
        list-style:none !important;
        margin: 0;
        &:before {
          content:"※";
        }
      }
    }
  }
}