@font-face {
   font-family: NBC;
   src: url('../font/Nightmare_Before_Christmas/Burton_s_nigthmare2000.ttf') format('truetype');
}

@font-face {
   font-family: Norse;
   src: url('../font/Norse/Norse.otf') format('opentype');
   src: url('../font/Norse/NorseBold.otf') format('opentype');
}

@font-face {
   font-family: DN;
   src: url('../font/DEATH_NOTE/DEATHNOTEFont.ttf') format('truetype');
}

@font-face {
   font-family: AVE_1;
   src: url('../font/AVENGERS/AVENGEANCE HEROIC AVENGER BD.otf') format('opentype');
}
