@import 'mixin';


.top {
  padding: 2vw 0;
  position: relative;
  @include max-screen($breakpoint-mobile) {
    padding: 0;
  }

  &_img {
    width: 40%;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    @include max-screen($breakpoint-tablet) {
      bottom: 50px;
    }
    @include max-screen($breakpoint-mobile) {
      bottom: -120px;
      width: 45%;
    }
    img {
      width: 100%;
    }
  }
}

//----------------------
//       update
//----------------------
.update {
  padding: 2vw 0;

  label,
  .dataTables_info {
    display: none;
  }
  .dataTables_paginate {
    width: 100%;
    text-align: center;
  }
  table {
    text-align: left;
    width: 100%;
  }
  .date {
    display: inline-block;
    margin-top: 25px;
    margin-right: 1em;
    @include max-screen($breakpoint-mobile) {
      margin-top: 15px;
    }
  }
  .title {
    display: inline-block;
    font-weight: bold;
    color: #007B50;
    margin-top: 25px;
    @include max-screen($breakpoint-mobile) {
      margin-top: 15px;
      display: block;
      margin: 0;
    }
  }
  .description {
    display: block;
    text-align: left;
    margin: 10px 0 50px 2em;
    p {
      margin: 0.5em 0;
    }
    @include max-screen($breakpoint-tablet) {
      margin-bottom: 15px;
    }
    @include max-screen($breakpoint-mobile) {
      margin-left: 0;
      width: 100%;
      p {
        margin: 5px 0;
      }
    }
  }
  td {
    @include max-screen($breakpoint-mobile) {
      padding: 0;
    }
  }
  .current {
    font-weight: bold;
    color: #007B50;
  }
  .paginate_button {
    padding: 5px;
  }
  .img_sample {
    width: 100%;
    filter: blur(0.7px);
    @include max-screen($breakpoint-mobile) {
      text-align: center;
    }
    img {
      // width: 60px;
      width: calc(70% / 10);
      @include max-screen($breakpoint-tablet_big) {
        // width: 51px;
        width: calc(60% / 10);
      }
      @include max-screen($breakpoint-tablet) {
        width: calc(70% / 10);
      }
      @include max-screen($breakpoint-mobile) {
        width: calc(80% / 5);
      }
    }
  }
  ul {
    list-style-position: inside;
    text-align: left;
    margin: 0 0 20px;
    }
    li{
      list-style: outside;
      list-style-type: square;
      margin: 0 0 10px 0;
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 20px;
      }
    }
    .column {
      p {
        margin: 0 0 10px;
      }
    }
    .tab_name {
      list-style: none;
      margin: 0 0 0 -1.5em;
    }
  .desc_wrap {
    margin-left: 1.5em;
    @include max-screen($breakpoint-mobile) {
      margin-left: 0;
      p{
        margin-left: .7em;
        @include max-screen($breakpoint-mobile_ip5) {
          margin-left: .2em;
        }
      }
    }
  }

  .article_title {
    margin-left: -1em;
    list-style: none;
    font-weight: bold;
    @include max-screen($breakpoint-mobile) {
      margin: 0 0 .7em -.5em;
    }
    &:before {
      content: '【';
    }
    &:after {
      content: '】';
    }
  }
    .icon {
      img {
        width: 12px;
      }
    }
}






.arrow{
  display: inline-block;
  padding-left: 20px;
  width: 100%;

  &::before{
    content: '';
    width: 30px;
    height: 30px;
    border: 0px;
    border-top: solid 3px #f8f9f9;
    border-right: solid 3px #f8f9f9;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    bottom: 13%;
    left: 50%;
  }

  &_top{
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    display: none;

    &::before{
      content: '';
      width: 30px;
      height: 30px;
      border: 0px;
      border-top: solid 3px #f8f9f9;
      border-right: solid 3px #f8f9f9;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: fixed;
      bottom: 5%;
      right: 5%;
    }
  }
}

