
$breakpoint-pc_tablet: 1480px !default; 
$breakpoint-tablet_big: 1105px !default; 
$breakpoint-tablet: 768px !default;
$breakpoint-mobile: 479px !default;
$breakpoint-mobile_ip5: 320px !default;