<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"></meta>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>

    <title>ひよこ豆</title>
</head>
<body>
    <header>
        <div class="header_text">
            <h1 id="title"> ひよこ豆</h1>
            <h2 id="title"> http:// www.piyomame.com</h2>
        </div>
        <ul id="menu">
            <li><a href="#">TOP</a></li>
            <li><a href="#">FIRST</a></li>
            <li><a href="#">IMG</a></li>
            <li><a href="#">MEMO</a></li>
            <li><a href="#">SNS</a></li>
        </ul>
    </header>
    <main class="first">
      <h1 class="title">Attention</h1>
      <div class="top_text">
        <p>まーべる系をメインに取り扱った二次創作イラストサイトです。</p>
        <p>マイペースに更新していきます。</p>
        <p>腐ではないので意図してかいていません。</p>
        <p>（腐の方への理解はありますので、今後ともおつきあいくだされば幸いです。）</p>
        <p><span class="attention">画像の無断転載、加工は禁止です。</span></p>
        <p><span class="attention">Please do NOT redistribute/edit without permission!</span></p>
      </div>
      
      <h1 class="title">Genre</h1>
      <div class="top_text">
        <p> ・ロキ中心にヴィランズ多め</p>
        <p>・映画版中心にときどき原作</p>
        <p>・ギャグ、パロディ畑</p>
        <p>・ドラマ、D...etc.</p>
      </div>

      <h1 class="title">About Me</h1>
      <div class="top_text">
        <p>ヴィランズ厨。成人済み。</p>
        <p>
          <a href="http://twitter.com/sousukeeeee0506">ついったー</a>に生息中。
        </p>         
      </div>
      
      <h1 class="title">About Link</h1>
      <div class="top_text">
         <p>同士サイト様に限り、</p>
         <p>リンクフリー。</p>
         <p>site name: ひよこ豆 </p>
         <p>url: http://nanos.jp/piyomame/ </p>
         <p>master: 蒼祐</p>
          </br>
         <p>ここまで読んでくださりありがとうございます。</p>
         <p>楽しんでいってくださいませ。</p>
         <p>Thank you for your reading here.</p>
        <p>I hope you'll enjoy this site!</p>
      </div>
      
    </main>
  </body>
</html>      