<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"></meta>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>

    <title>ひよこ豆</title>
</head>
<body>
    <header>
        <div class="header_text">
            <h1 id="title"> ひよこ豆</h1>
            <h2 id="title"> http:// www.piyomame.com</h2>
        </div>
        <ul id="menu">
            <li><a href="~/html/index.cshtml">TOP</a></li>
            <li><a href="~/html/first.cshtml">FIRST</a></li>
            <li><a href="~/html/img.cshtml">IMG</a></li>
            <li><a href="~/html/memo.cshtml">MEMO</a></li>
            <li><a href="~/html/sns.cshtml">SNS</a></li>
        </ul>
    </header>
    <main>
        <h1 class="title">About</h1>
          <div class="top_text">
            <p>まーべる系を取り扱ったサイトです。</p>
            <p>パロディやねつ造、ギャグを含む内容がございますので、苦手な方はブラウザバックでお戻りください。</p>
            <p>詳細は<a href="#">FIRST</a>に記載しております。よろしければ目をお通しくださいませ。</p>

            <p><span class="attention">画像の無断転載、加工は禁止です。</span></p>
            <p><span class="attention">Please do NOT redistribute/edit without permission!</span></p>
         </div>

        <h1 class="title">Last Update</h1>
          <div class="top_text">
            <p>2014.12.02　imgs: CALENDAR add</p>
            <p>2014.11.30　imgs: CALENDAR add</p>
            <p>2014.11.30　imgs: CALENDAR open</p>
            <a class="button" href="#">more</a>
          </div>

        <h1 class="title">Contact</h1>
          <div class="top_text">
            <p>ご意見、ご指摘、ご感想は<a href="http://nanos.jp/piyomame/form/1/">MAIL</a>よりどうぞ。</p>
            <p>お返事は<a href="http://nanos.jp/piyomame/blog/1/">REPLY</a>にて。</p>
          </div>


                    <div id="footer"><small>since 17 August 2014 / ひよこ豆</small></div>


                </div>
                <h1>IMG</h1>
                <div class="img">
                    <a href="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" data-lightbox="group" data-title="S001"><img src="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" alt="" width="256" /></a>
                    <a href="C:\Users\Saki\Documents\my web site\gryffindor.png" data-lightbox="group" data-title="S001"><img src="C:\Users\Saki\Documents\my web site\gryffindor.png" alt="" width="256" /></a>
                    <a href="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" data-lightbox="group" data-title="S001"><img src="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" alt="" width="256" /></a>
                    <a href="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" data-lightbox="group" data-title="S001"><img src="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" alt="" width="256" /></a>
                    <a href="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" data-lightbox="group" data-title="S001"><img src="C:\Users\Saki\Documents\my web site\slytherin-emblem.jpg" alt="" width="256" /></a>
                </div>
    </main>
    <side>
        <h1 class="title_side">Master</h1>
          <div class="top_text">
            <p>蒼祐（<a href="http://twitter.com/sousukeeeee0506">twitter</a>）</p>
            <p>ロキ中心にヴィランズ厨。</p>
          </div>


        <h1 class="title_side">About Link</h1>
          <div class="top_text">
            <p>同士サイト様に限り、</p>
            <p>リンクフリー。</p>
            <p>site name: ひよこ豆 </p>
            <p>url: http://nanos.jp/piyomame/ </p>
            <p>master: 蒼祐</p>
          </div>
    </side>
  </body>
</html>      